.selector {
  display: flex;
  align-items: center;
  justify-content: center;

  button,
  button:focus {
    outline: none;
    border: 0;
    padding: 0;
    background-color: white;
  }

  span {
    margin: 0 1rem 0 1rem;
    text-align: center;
  }

}

.material-icons {
  cursor: pointer;
  font-size: 38px;
}
